<!--

Formmatting:

Title
    header1
    image
    Section container
        section
            sectionName
            input new section
            section text
            inout new section

-->
    <main>

      <div>
        <h1 id ='nameOfPage'>
          {{title}}
        </h1>
        <input type='text' placeholder={{inputTitle}} id ='newPageTitle' class = 'hidden'>
        <p id = 'textInSummary'>
          {{summary}}
        </p>
          <input type='text' placeholder={{inputSummary}} id ='newPageSummary' class =  'hidden'>
      </div>

      <div>
        <img src="{{image}}" alt="Growing tomato">
          <input type='text' placeholder={{inputImage}} id ='newPageImage' class =  'hidden'>
      </div>


      <div id = 'sectionsContainer'>
            {{#each sectionData}} <!-- input section name and section text -->
                {{> section}}
            {{/each}}
      </div>

    </main>

    <button type="button" id="edit-page-button"><p>Edit</p></button>
    <button type="button" id="accept-edit-button" class = 'hidden'><p>Accept</p></button>
    <button type="button" id="cancel-edit-button" class = 'hidden'><p>Cancel</p></button>
